@model IEnumerable<WebApplicationMvcDemo.Models.Employee>

@using WebApplicationMvcDemo.Models;

    <div style="font-family:arial"> 
        <h2>Employee List</h2>
        <ul>
            @foreach (Employee emp in @Model)
            {
                <li>
                  @Html.ActionLink(emp.Name, "Details", new { id = emp.Id })
                </li>
            }
        </ul>
        @Html.ActionLink("Back to departments", "Departments","Department")
        
    </div>
